.cyan{
  background-color: #03A9F4 !important;
}

.cyan-50{
  background-color: #E1F5FE !important;
}

.cyan-100{
  background-color: #B3E5FC !important;
}

.cyan-200{
  background-color: #81D4FA !important;
}

.cyan-300{
  background-color: #4FC3F7 !important;
}

.cyan-400{
  background-color: #29B6F6 !important;
}

.cyan-500{
  background-color: #03A9F4 !important;
}

.cyan-600{
  background-color: #039BE5 !important;
}

.cyan-700{
  background-color: #0288D1 !important;
}

.cyan-800{
  background-color: #0277BD !important;
}

.cyan-900{
  background-color: #01579B !important;
}

.cyan-A100{
  background-color: #80D8FF !important;
}

.cyan-A200{
  background-color: #40C4FF !important;
}

.cyan-A400{
  background-color: #00B0FF !important;
}

.cyan-A700{
  background-color: #0091EA !important;
}

.cyan-text{
  color: #03A9F4 !important;
}

.cyan-text-50{
  color: #E1F5FE !important;
}

.cyan-text-100{
  color: #B3E5FC !important;
}

.cyan-text-200{
  color: #81D4FA !important;
}

.cyan-text-300{
  color: #4FC3F7 !important;
}

.cyan-text-400{
  color: #29B6F6 !important;
}

.cyan-text-500{
  color: #03A9F4 !important;
}

.cyan-text-600{
  color: #3949AB !important;
}

.cyan-text-700{
  color: #303F9F !important;
}

.cyan-text-800{
  color: #283593 !important;
}

.cyan-text-900{
  color: #1A237E !important;
}

.cyan-text-A100{
  color: #8C9EFF !important;
}

.cyan-text-A200{
  color: #536DFE !important;
}

.cyan-text-A400{
  color: #3D5AFE !important;
}

.cyan-text-A700{
  color: #304FFE !important;
}
